header.col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.col-xs-12
  h1#title 
    a(href='/').site-title Vito Galatro
  h3#subtitle Web Application Developer
  #contact
    a(href="mailto:vjgalatro@gmail.com", target="_blank").img-link: img(src="/images/icons/Email-Icon.png")
    a(href="http://github.com/vgalatro", target="_blank").img-link: img(src="/images/icons/GitHub-Mark-Light-32px.png")
