extend layout
block content
  h3 About Me
  p.
    I'm glad to be a part of today's ever changing technological environment.
    The opportunities that are presented by technology allow us to grow and experience information in a way that used to be the stuff of science fiction.
    When I first started in web development I did not think I would end up in the field for very long.
    After just a short time in the field it quickly became something I wanted to make a career out of.
  p.
    I started my career fixing up HTML, CSS, and Javascript on Wordpress sites.
    The nature of this work led very quickly to diving into PHP and making my own themes and plugins for those very same Wordpress sites.
    As my skills grew I began working on more complicated and more exciting projects using frameworks such as Zend and Kohana.
    Eventually I moved on to a larger company where my skill set grew to include utilizing version control systems, specifically Subversion and Git, to keep track of the changes made by my co-workers and myself.
    Since this new company used Drupal as the CMS for the majority of their sites, I became proficient in that as well as continuing to grow my skills as a Wordpress developer.
  p.
    Today I seek to continue growing my list of skills by teaching myself new things.
    Recently I have been teaching myself new PHP frameworks, namely Symfony.
    I have also been diving into newer technologies for presenting information on the web, such as Node.js and AngularJS which I’ve used to build this site.
  p.
    As the days go by I find that my passion for the web, and the opportunities it presents, continues to grow exponentially.
    It’s an amazing time we live in with so much knowledge available to more people at speeds that were unthinkable only a few decades ago.
