doctype html
head
  title #{title} | Portfolio Homepage
body
  #container
    h1 Vito Galatro - Web Application Developer
    #content
      p This site is built using node.js, the express framework, and the Jade templating engine.
