extend layout
block content
  h3 Portfolio
  h4 Google Publisher Tags on Wordpress
  ul
    li Ensured required files where properly included onto the Wordpress site
    li Enabled editorial control of the ad slot definitions and placement
    ul
      li Ads could be placed via widget, shortcode, or as a function in a theme template
    li Impoved page render time on the site by enabling asynchronous loading of the ads
    li Plugin was custom built for the Wordpress sites ran by my employer
    ul
      li 
        | Currently in use on 
        a(href="http://www.cycleworld.com", target="_blank") Cycle World
        | , 
        a(href="http://www.wakeboardingmag.com", target="_blank") Wakeboarding Magazine
        | , and 
        a(href="http://www.waterskimag.com", target="_blank") Waterski Magazine
