@import url("http://fonts.googleapis.com/css?family=Titillium+Web");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  color: #ddd;
  background: #333;
  font-family: 'Roboto Slab';
}
header,
footer {
  font-family: 'Titillium Web';
}
#content {
  color: #111;
  background: #eee;
  padding: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#title,
#tag-line,
#content,
#sidebar {
  margin: 10px;
}
